[submodule "Titan/thirdparty/spdlog"]
	path = Titan/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Titan/thirdparty/GLFW"]
	path = Titan/thirdparty/GLFW
	url = https://github.com/glfw/glfw
