[submodule "Titan/thirdparty/spdlog"]
	path = Titan/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Titan/thirdparty/GLFW"]
	path = Titan/thirdparty/GLFW
	url = https://github.com/glfw/glfw
[submodule "Titan/thirdparty/imgui"]
	path = Titan/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Titan/thirdparty/glm"]
	path = Titan/thirdparty/glm
	url = https://github.com/g-truc/glm
